* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(to right, #132531, #9f9eb9);
  color: #d8d8d8;
  font-family: sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main {
  max-width: 120rem;
  height: 100vh;
  margin: 5rem auto;
  font-size: 2rem;
  font-weight: bold;
}

form,
h2,
.r-Crud {
  margin-left: 17rem;
}

.form-header {
  background: #ffffff25;
  font-size: 1.5rem;
  width: 16rem;
  height: 3rem;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: center;
  padding-top: 1.6rem;
  margin-top: 4rem;
}

.form {
  display: flex;
  flex-flow: column wrap;
  background: #ffffff25;
  border-radius: 0 1.5rem 0 0;
  padding: 2rem 0 2rem 2rem;
  max-width: 100%;
  height: 10rem;
}

.form #r-date {
  max-width: 13rem;
  min-width: 5rem;
  margin: 0.5rem 0.5rem 0 0;
}

/* Toggle Switch radio button .form  */

.switch-field {
  display: flex;
  max-width: 16rem;
  min-width: 5rem;
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #ffffff40;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #ffffff70;
  color: black;
  font-weight: bold;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 0.4rem 0 0 0.4rem;
}

.switch-field label:last-of-type {
  border-radius: 0 0.4rem 0.4rem 0;
}

.form input {
  max-width: 13rem;
  /* width: 10em; */
  height: 3rem;
  margin: 0.5rem 0.5rem 0 0;
  border: none;
  border-radius: 0.4rem;
  background: #d9d9d925;
  color: black;
}

.form input:focus {
  outline: none;
}

#r-btnInput {
  width: 13rem;
  min-width: 5rem;
  height: 3rem;
  margin: 2.8rem 0.5rem 0 0;
  border: none;
  border-radius: 0.4rem;
  background: #33355e;
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 0.5rem;
}

#r-btnInput:hover {
  background: #33355eaa;
}

/* Table Release Crud  */

#r-crudHead {
  display: flex;
  background: linear-gradient(to right, #33355e, #242b39);
  margin-top: 5rem;
  padding: 1rem 0px 1rem 0px;
  border-radius: 1.5rem 1.5rem 0 0;
  font-size: 1.6rem;
  padding-left: 2rem;
}

#r-crudHead th {
  text-align: start;
  width: 17rem;
}

#r-CrudRow {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

#r-CrudRow tr {
  color: black;
  padding-left: 2rem;
  background: linear-gradient(to right, #818a91, #d8d8d8);
}

#r-CrudRow td {
  font-weight: normal;
  width: 17rem;
}

/* icon edit and icon delete */

i-edit {
  color: rgba(0, 128, 0, 0.7);
  font-size: 2.7rem;
  cursor: pointer;
  position: relative;
  top: 0.3rem;
  margin-left: 8rem;
}

i-del {
  color: rgba(255, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  left: 1rem;
}

/* modal edit and modal delete using a tag 'dialog' */

#modal-edit {
  border: none;
  border-radius: 0.8rem;
  width: 120rem;
  height: 8rem;
  background: #959595d4;
  margin: auto;
  padding-top: 2rem;
}

#modal-edit::backdrop {
  background-color: #00000067;
  backdrop-filter: blur(2px);
}

#modal-edit #m-date {
  width: 13rem;
  height: 3rem;
}

#modal-edit input {
  max-width: 13rem;
  min-width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
  background: #d9d9d965;
  margin: 0.5rem 2.5rem 0 2rem;
}

#modal-edit input:focus {
  outline: none;
}

#modal-delete {
  border: none;
  border-radius: 0.8rem;
  max-width: 60rem;
  background: #959595d4;
  margin: auto;
  text-align: center;
  padding: 3rem;
}

#modal-delete::backdrop {
  background-color: #00000067;
  backdrop-filter: blur(2px);
}

/* modal's icons */

#i-ok {
  /*icon ok of modal edit */
  float: right;
  color: rgba(0, 128, 0, 0.7);
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5rem;
}

#i-ok:hover {
  color: rgba(4, 167, 4, 0.651);
  font-size: 4.2rem;
}

#i-ok-delete {
  color: rgba(0, 128, 0, 0.7);
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4rem;
}

#i-ok-delete:hover {
  color: rgba(4, 167, 4, 0.651);
  font-size: 4.2rem;
}

#i-cancel-delete {
  font-size: 4.2rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-left: 15rem;
  color: rgba(255, 0, 0, 0.7);
}

#i-cancel-delete:hover {
  color: rgb(255, 71, 71);
  position: relative;
  font-size: 4.4rem;
}

/* illustrative picture of the other tabs */

.image {
  filter: blur(1.5px);
}
